Data Preparation Phase

In this stage, I will be using pandas to view, explore and clean the dataset.

In [1]:
#imports
import pandas as pd
import ast

In [2]:
df = pd.read_csv("raw_dataset/listings.csv")

In [3]:
df.head(5)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,27934,https://www.airbnb.com/rooms/27934,20250319150518,2025-03-21,city scrape,Nice room with superb city view,Our cool and comfortable one bedroom apartment...,It is very center of Bangkok and easy access t...,https://a0.muscache.com/pictures/566374/23157b...,120437,...,4.91,4.66,4.75,NaN,f,1,1,0,0,0.41
1,27979,https://www.airbnb.com/rooms/27979,20250319150518,2025-03-20,previous scrape,"Easy going landlord,easy place",NaN,NaN,https://a0.muscache.com/pictures/106247594/1d6...,120541,...,NaN,NaN,NaN,NaN,f,2,1,1,0,NaN
2,28745,https://www.airbnb.com/rooms/28745,20250319150518,2025-03-20,previous scrape,modern-style apartment in Bangkok,A modern-style apartment situated in a cool ne...,Ramkumheang neigbourhood - hip place with food...,https://a0.muscache.com/pictures/160369/92a7ec...,123784,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
3,47516,https://www.airbnb.com/rooms/47516,20250319150518,2025-03-20,city scrape,Beautiful waterfront house,NaN,NaN,https://a0.muscache.com/pictures/271998/b090ad...,214456,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
4,48736,https://www.airbnb.com/rooms/48736,20250319150518,2025-03-20,city scrape,Condo with Chaopraya River View,at a size of 25sqm for your vacation in BKK.<b...,NaN,https://a0.muscache.com/pictures/12465296/e9c0...,222005,...,5.00,5.00,5.00,NaN,f,1,0,1,0,0.01

In [ ]:
df.rename(columns={"id":"listing_id", "neighbourhood_cleansed": "neighbourhood"},inplace=True)

In [5]:
df.columns

Index(['listing_id', 'listing_url', 'scrape_id', 'last_scraped', 'source',
       'name', 'description', 'neighborhood_overview', 'picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy',
       'number_of_reviews_ly', 'estimated_occupancy_l365d',
       'estimated_revenue_l365d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

Create the individual dimension table dataframes so that we can start cleaning them.

We will clean the individual dimension tables then merge them back to the original dataframe to obtain the respective primary keys.

In [6]:
listing_review = ['number_of_reviews', 'review_scores_rating', 'review_scores_accuracy','review_scores_cleanliness', 'review_scores_checkin','review_scores_communication', 'review_scores_location', 'review_scores_value']
listing_property = ['neighbourhood_cleansed', 'bedrooms', 'bathrooms', 'latitude', 'longitude', 'property_type', 'room_type']
listing_accomodation = ['listing_id', 'minimum_nights', 'maximum_nights', 'has_availability', 'price', 'accommodates', 'host_id']
listing_df = df[listing_accomodation+listing_property+listing_review]

host_df = df[['host_id', 'host_name', 'host_since', 'host_location', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_identity_verified', 'host_total_listings_count']].drop_duplicates()
amenity_dim = df[['amenities', 'listing_id']].drop_duplicates()

In [7]:
listing_df

,listing_id,minimum_nights,maximum_nights,has_availability,price,accommodates,host_id,neighbourhood_cleansed,bedrooms,bathrooms,...,property_type,room_type,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,27934,15,240,t,"$1,665.00",2,120437,Ratchathewi,1.0,1.5,...,Entire condo,Entire home/apt,65,4.86,4.95,4.82,4.97,4.91,4.66,4.75
1,27979,1,730,NaN,NaN,2,120541,Bang Na,NaN,NaN,...,Private room in rental unit,Private room,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28745,60,730,NaN,NaN,2,123784,Bang Kapi,1.0,NaN,...,Private room in rental unit,Private room,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,47516,3,730,NaN,"$4,373.00",1,214456,Don Mueang,4.0,NaN,...,Entire home,Entire home/apt,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,48736,14,365,t,"$1,930.00",2,222005,Rat Burana,1.0,1.0,...,Private room in rental unit,Private room,1,5.00,5.00,5.00,5.00,5.00,5.00,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27543,1379672358263667520,2,365,t,$440.00,2,679097032,Min Buri,1.0,2.0,...,Private room in home,Private room,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27544,1379715999009665895,7,365,t,$760.00,2,653148266,Bang Sue,1.0,1.0,...,Entire rental unit,Entire home/apt,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27545,1379720665926456231,7,365,t,$760.00,2,653148266,Bang Sue,1.0,1.0,...,Entire rental unit,Entire home/apt,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27546,1379724086373712054,7,365,t,$760.00,2,653148266,Bang Sue,1.0,1.0,...,Entire rental unit,Entire home/apt,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27547,1379757978013222624,7,365,t,$760.00,2,653148266,Bang Sue,1.0,1.0,...,Entire rental unit,Entire home/apt,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Cleaning the 'hosting' table

In [8]:
host_df

,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_identity_verified,host_total_listings_count
0,120437,Nuttee,2010-05-08,"Bangkok, Thailand",NaN,NaN,83%,t,t,2.0
1,120541,Emy,2010-05-08,"Bangkok, Thailand",NaN,NaN,NaN,f,f,4.0
2,123784,Familyroom,2010-05-12,"Bangkok, Thailand",NaN,NaN,NaN,f,f,1.0
3,214456,Anuradha,2010-08-27,"New Delhi, India",NaN,NaN,NaN,f,t,2.0
4,222005,Athitaya,2010-09-03,"Bangkok, Thailand",within an hour,100%,100%,f,t,1.0
...,...,...,...,...,...,...,...,...,...,...
27497,527539153,Sumrid,2023-07-23,NaN,NaN,NaN,NaN,f,t,4.0
27498,558182295,Suphansa,2024-01-23,NaN,within an hour,100%,96%,f,t,8.0
27512,39529236,Philipp,2015-07-25,"Berlin, Germany",NaN,NaN,NaN,f,t,2.0
27514,1449557,Krongkaew,2011-11-28,"Bangkok, Thailand",NaN,NaN,NaN,NaN,t,9.0
27522,663429302,Kamonthip,2024-11-22,NaN,within an hour,100%,67%,f,t,3.0

In [9]:
host_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8512 entries, 0 to 27522
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   host_id                    8512 non-null   int64
 1   host_name                  8510 non-null   object
 2   host_since                 8511 non-null   object
 3   host_location              5923 non-null   object
 4   host_response_time         5515 non-null   object
 5   host_response_rate         5515 non-null   object
 6   host_acceptance_rate       5435 non-null   object
 7   host_is_superhost          8203 non-null   object
 8   host_identity_verified     8511 non-null   object
 9   host_total_listings_count  8511 non-null   float64
dtypes: float64(1), int64(1), object(8)
memory usage: 731.5+ KB

In [10]:
host_df['host_response_time'].unique()

array([nan, 'within an hour', 'within a few hours', 'a few days or more',
       'within a day'], dtype=object)

In [11]:
host_df['host_response_rate'].unique()

array([nan, '100%', '0%', '50%', '40%', '93%', '90%', '33%', '60%', '75%',
       '89%', '97%', '88%', '22%', '20%', '67%', '94%', '17%', '80%',
       '99%', '10%', '91%', '92%', '70%', '83%', '45%', '25%', '82%',
       '44%', '13%', '30%', '86%', '85%', '96%', '14%', '43%', '98%',
       '81%', '95%', '77%', '11%', '79%', '63%', '29%', '73%', '87%',
       '71%', '38%', '78%', '72%', '56%', '57%', '64%', '18%', '84%',
       '69%', '68%'], dtype=object)

In [12]:
host_df['host_is_superhost'].unique()

array(['t', 'f', nan], dtype=object)

In [13]:
host_df['host_identity_verified'].unique()

array(['t', 'f', nan], dtype=object)

In [14]:
host_df['host_is_superhost'] = host_df['host_is_superhost'].map({'t':True, 'f':False}).astype('boolean')
host_df['host_identity_verified'] = host_df['host_identity_verified'].map({'t':True, 'f':False}).astype('boolean')

In [15]:
#Use int16 instead of int64 because it is quite impossible a person has so many listings. 
#Note that we have to use capitalized I otherwise it wont work.
host_df['host_total_listings_count'] = host_df['host_total_listings_count'].astype('Int16', errors='ignore')

In [16]:
host_df['host_since'] = host_df['host_since'].astype('datetime64[ns]', errors='ignore')

In [17]:
host_df['host_acceptance_rate'] =host_df['host_acceptance_rate'].str.rstrip('%').astype(float)/100
host_df['host_response_rate'] = host_df['host_response_rate'].str.rstrip('%').astype(float)/100

In [18]:
host_df.rename(columns={"host_total_listings_count" : "host_total_listings"},inplace=True)

In [19]:
host_df

,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_identity_verified,host_total_listings
0,120437,Nuttee,2010-05-08,"Bangkok, Thailand",NaN,NaN,0.83,True,True,2
1,120541,Emy,2010-05-08,"Bangkok, Thailand",NaN,NaN,NaN,False,False,4
2,123784,Familyroom,2010-05-12,"Bangkok, Thailand",NaN,NaN,NaN,False,False,1
3,214456,Anuradha,2010-08-27,"New Delhi, India",NaN,NaN,NaN,False,True,2
4,222005,Athitaya,2010-09-03,"Bangkok, Thailand",within an hour,1.0,1.00,False,True,1
...,...,...,...,...,...,...,...,...,...,...
27497,527539153,Sumrid,2023-07-23,NaN,NaN,NaN,NaN,False,True,4
27498,558182295,Suphansa,2024-01-23,NaN,within an hour,1.0,0.96,False,True,8
27512,39529236,Philipp,2015-07-25,"Berlin, Germany",NaN,NaN,NaN,False,True,2
27514,1449557,Krongkaew,2011-11-28,"Bangkok, Thailand",NaN,NaN,NaN,<NA>,True,9
27522,663429302,Kamonthip,2024-11-22,NaN,within an hour,1.0,0.67,False,True,3

Cleaning listing dataframe

In [20]:
listing_df['neighbourhood_cleansed'].unique()

array(['Ratchathewi', 'Bang Na', 'Bang Kapi', 'Don Mueang', 'Rat Burana',
       'Bang Rak', 'Sathon', 'Phaya Thai', 'Khlong Toei', 'Lat Krabang',
       'Parthum Wan', 'Min Buri', 'Khlong San', 'Sai Mai', 'Bangkok Yai',
       'Yan na wa', 'Huai Khwang', 'Vadhana', 'Bang Sue', 'Phra Khanong',
       'Chatu Chak', 'Phasi Charoen', 'Thawi Watthana', 'Bang Kho laen',
       'Thon buri', 'Suanluang', 'Lak Si', 'Thung khru', 'Dusit',
       'Din Daeng', 'Bueng Kum', 'Bang Phlat', 'Saphan Sung', 'Pra Wet',
       'Phra Nakhon', 'Wang Thong Lang', 'Bang Khen', 'Chom Thong',
       'Samphanthawong', 'Khlong Sam Wa', 'Bangkok Noi',
       'Pom Prap Sattru Phai', 'Nong Khaem', 'Lat Phrao', 'Taling Chan',
       'Bang Khun thain', 'Bang Khae', 'Nong Chok', 'Khan Na Yao',
       'Bang Bon'], dtype=object)

In [21]:
listing_df['bedrooms'].unique()

array([ 1., nan,  4.,  3.,  2.,  0.,  6.,  9.,  5., 10., 20.,  7., 31.,
        8., 11., 14., 25., 13., 12., 22., 16., 30., 50., 40., 23., 39.,
       15., 46., 17.])

In [22]:
listing_df['bathrooms'].unique()

array([ 1.5,  nan,  1. ,  3.5,  2. ,  3. ,  2.5,  0.5,  6. ,  0. ,  5. ,
        4. ,  5.5,  6.5,  4.5,  8. ,  7. ,  7.5,  8.5,  9.5,  9. , 12. ,
       10. , 15. , 11. , 10.5, 12.5, 14. , 13. , 20. , 11.5, 16. , 30. ])

In [23]:
listing_df['bedrooms'] = listing_df['bedrooms'].astype('Int16')

C:\Users\yd\AppData\Local\Temp\ipykernel_15260\2555135714.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_df['bedrooms'] = listing_df['bedrooms'].astype('Int16')

In [24]:
listing_df['has_availability'] = listing_df['has_availability'].map({"t": True, "f": False}).astype('boolean')

C:\Users\yd\AppData\Local\Temp\ipykernel_15260\1956739775.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_df['has_availability'] = listing_df['has_availability'].map({"t": True, "f": False}).astype('boolean')

In [25]:
listing_df['price'] = listing_df['price'].str.lstrip('$').str.replace(',','').astype('float64')

C:\Users\yd\AppData\Local\Temp\ipykernel_15260\3127590317.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_df['price'] = listing_df['price'].str.lstrip('$').str.replace(',','').astype('float64')

In [26]:
listing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27548 entries, 0 to 27547
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   listing_id                   27548 non-null  int64
 1   minimum_nights               27548 non-null  int64
 2   maximum_nights               27548 non-null  int64
 3   has_availability             25315 non-null  boolean
 4   price                        22158 non-null  float64
 5   accommodates                 27548 non-null  int64
 6   host_id                      27548 non-null  int64
 7   neighbourhood_cleansed       27548 non-null  object
 8   bedrooms                     26267 non-null  Int16
 9   bathrooms                    22115 non-null  float64
 10  latitude                     27548 non-null  float64
 11  longitude                    27548 non-null  float64
 12  property_type                27548 non-null  object
 13  room_type                    27548 non-null  object
 14  number_of_reviews            27548 non-null  int64
 15  review_scores_rating         18082 non-null  float64
 16  review_scores_accuracy       18082 non-null  float64
 17  review_scores_cleanliness    18081 non-null  float64
 18  review_scores_checkin        18078 non-null  float64
 19  review_scores_communication  18081 non-null  float64
 20  review_scores_location       18077 non-null  float64
 21  review_scores_value          18076 non-null  float64
dtypes: Int16(1), boolean(1), float64(11), int64(6), object(3)
memory usage: 4.3+ MB

Cleaning the 'amenities' column to enable analysis.

The 'amenities' column currently stores data as a single stringified list per record, making it highly unstructured and unsuitable for database storage and analysis.

This format prevents us from:
1) Comparing listings based on what kind of amenities offered
2) Performing aggregation or filtering with amenities

Standardize_amenities function is used to clean up and standardize the different amenities across listings.

To prevent myself from entering the endless cleaning rabbit hole, I have decided to standardize a few amenities first.

In [27]:
def standardize_amenities(amenities):
    standardized = []
    for amenity in amenities:
        a = amenity.lower().strip() #lower and remove all leading whitespace
        
        if "shampoo" in a:
            standardized.append("shampoo")
        elif "body soap" in a:
            standardized.append("body soap")
        elif "conditioner" in a:
            standardized.append("conditioner")
        elif "refrigerator" in a:
            standardized.append("refrigerator")
        else:
            standardized.append(a)  
    return list(set(standardized))

In [28]:
# Convert stringified list to list object
df_copy = df.copy()
df_copy['amenities'] = df_copy['amenities'].apply(ast.literal_eval) #convert the stringified list to actual list
df_copy['amenities'] = df_copy['amenities'].apply(standardize_amenities) #apply standardize function
listing_amenity_df = df_copy[['listing_id','amenities']].explode('amenities')

In [29]:
#This process is done to create a amenity_df from unique amenities extracted from df.
amenities = listing_amenity_df['amenities'].unique() #Extract unique amenities from the listing_amenity_df
amenity_df = pd.DataFrame(amenities)
amenity_df.reset_index(names="amenity_id", inplace=True)
amenity_df.rename(columns={0: "amenities"}, inplace=True)

In [30]:
#combine listing_amenity_df with amenity_df to form the bridge table.
amenity_bridge = listing_amenity_df.merge(amenity_df, on="amenities", how="inner").drop(columns="amenities")

In [31]:
amenity_df.rename(columns={"amenities":"amenity"}, inplace=True)
amenity_df

      amenity_id                                            amenity
0              0                                            hangers
1              1                                                gym
2              2                                               wifi
3              3                                               iron
4              4                                              stove
...          ...                                                ...
2564        2564     housekeeping available from 8:00 am to 6:00 pm
2565        2565                                fast wifi – 96 mbps
2566        2566  exercise equipment: yoga mat, workout bench, r...
2567        2567  housekeeping available from 9:00 am to 5:00 pm...
2568        2568  shared indoor pool - open specific hours, infi...

[2569 rows x 2 columns]

In [32]:
amenity_bridge

                 listing_id  amenity_id
0                     27934           0
1                     27934           1
2                     27934           2
3                     27934           3
4                     27934           4
...                     ...         ...
701528  1379757978013222624          22
701529  1379757978013222624          23
701530  1379757978013222624         243
701531  1379757978013222624          10
701532  1379757978013222624          56

[701533 rows x 2 columns]

Creating scraped_df for scraped dimension table

The purpose of this dimension table is so that we are able to visualise and analyse the listings as time passes.

In [33]:
scraped_df = df[['scrape_id','last_scraped']].head(1)

In [34]:
scraped_df['last_scraped'].astype('datetime64[ns]')

0   2025-03-21
Name: last_scraped, dtype: datetime64[ns]

In [35]:
scraped_df['year'] = pd.DatetimeIndex(scraped_df['last_scraped']).year
scraped_df['month'] = pd.DatetimeIndex(scraped_df['last_scraped']).month

In [36]:
def quarter(month):
    if month in (1,2,3):
        return "Q1"
    elif month in (4,5,6):
        return "Q2"
    elif month in (7,8,9):
        return "Q3"
    else:
        return "Q4"

In [37]:
scraped_df['quarter'] = scraped_df['month'].apply(quarter)

In [38]:
scraped_df['label'] = scraped_df.apply(lambda row: str(row.quarter) + " " + str(row.year), axis=1)

In [39]:
scraped_df

        scrape_id last_scraped  year  month quarter    label
0  20250319150518   2025-03-21  2025      3      Q1  Q1 2025

Inserting into database

In [40]:
from sqlalchemy import create_engine


conn_string = 'postgresql://postgres:yongde@localhost/airbnb_bangkok'

db = create_engine(conn_string)
conn = db.connect()

In [41]:
host_df.to_sql('host_dim', con=conn, index=False, if_exists='append')

512

In [42]:
amenity_df.to_sql('amenity_dim', con=conn, index=False, if_exists='append')

569

In [45]:
listing_df.to_sql('listing_fact', con=conn, index=False, if_exists='append')

548

In [46]:
amenity_bridge.to_sql('listing_amenity_brg', con=conn, index=False, if_exists='append')

533